@media screen and (max-width: 599px) {
	div.fx-row-text.xtra {
		display:none;
	}
	div.fx-row-text.tx-fx-pair {
		width:20%;
		font-size: 4vw;
	}
	.fx-col-head-title {
		width:30%;
	}
	.fx-col-head-data {
		width:17%;
	}
	.fx-col-head-data.xtra {
		display:none;	
	}
}